@import 'base',
        'layout',
        'modules/button',
        'modules/menu-btn',
        'modules/comments',
        'modules/divider',
        'modules/plan',
        'modules/plan-mark',
        'modules/plan-tape',
        'modules/cp-card',
        'modules/dimention-headline',
        'modules/slider',
        'modules/cp-ruler',
        'modules/coffee-stain',
        'modules/cp-pen',
        'modules/gallery';


//--- Section Index
.section-index {
    margin-top: 2em;

    h1 {
        font-size: $headline-size-1-mob;
        @include transition(all);
        text-align: center;

        @include breakpoint-medium {
            text-align: left;
        }
       
        @include breakpoint-large {
            font-size: $headline-size-1;
        }
    }

    h2 {
        font-size: $headline-size-3-mob;
        text-align: center;

        @include breakpoint-medium {
            text-align: left;
        }
        
        @include breakpoint-large {
            font-size: $headline-size-3;
        }
    }

    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

        @include breakpoint-medium {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); 
        }
    }

    .plan-mark {
        margin: 2em;
    }
}

//--- Section Index Content
.section-index-content {
    padding-top: 4em;

    @include breakpoint-large {
        padding-top: 6em; 
    }
}

//--- Section Hero
.section-hero {
    margin-top: 2em;

    h1 {
        font-size: $headline-size-1-mob;
        @include transition(all);
        text-align: center;

        @include breakpoint-medium {
            font-size: $headline-size-1;
            text-align: left;
        }
    }

    h2 {
        font-size: $headline-size-3-mob;
        text-align: center;

        @include breakpoint-medium {
            font-size: $headline-size-3;
            text-align: left;

        }
    }

    hr {
        width: 80%;
        margin: 2em auto;

        @include breakpoint-medium {
            margin: 2em 0;
        }
        
        @include breakpoint-large {
            width: 90%;
        }
    }

    form {
        padding-top: 1em;

        .input-wrap {
            position: relative;
            width: 90%;
        }

        @include breakpoint-large {
            .input-wrap {
                width: 100%;
            }
        }

        .font-handwritten {
            display: none;

            @include breakpoint-custom(46) {
                display: block;
            }
        }
    }

    .hero-img {
    
        img {
            padding-top: 4em;

            @include breakpoint-medium {
                padding-top: 6em;
                width: 80%;
                margin: auto;
            }

            @include breakpoint-large {
                width: 100%;
                margin-left: 5em;
            }
        }

        
    }

}

.section-hero.home {
    padding-bottom: 4em;
}

//--- Section Plan
.section-plan {
    z-index: 1;

    .plan-mark {
        margin: 2em 0 2em 1em;

        @include breakpoint-medium {
            margin: 2em 0 0 1em;
        }
    }
}

//--- Section About Plan
.section-about-plan {
    padding-top: 4em;

    .cell-headline {
        h2 {
            font-size: 3rem;
            margin-bottom: 0.5em;
        }
    }

    .cell-header {
        display: flex;
        align-items: center;

        h2 {
            padding-right: 1rem;
            line-height: 1;
            font-size: 4rem;
            border-right: 0.1rem $color-dark solid;
            margin-bottom: 0;
        }

        h3 {
            padding: 0.2rem 0.5rem;
            margin-bottom: 0;
            font-size: 2rem;
        }

        p {
            text-transform: uppercase;
            padding: 0 0.7rem;

        }
    }

    .cell-content {
        margin-top: 1em;
    }

    .cell-img-wrap {
        display: flex;
    }

    .cell-img {
        width: 9em;
        height: 9em;
        border-radius: 50%;
        overflow: hidden;
        border: 0.1rem $color-dark solid;
        @include transition(all);

        @include breakpoint-large {
            width: 12em;
            height: 12em;
        }
    }

    .cell-img:not(:last-child){
        margin: 0 1em;
    }

    .cell-render {
        

        @include breakpoint-medium {
            max-width: 70%;
            margin: 0 auto;
        }
    }
}

//--- Section Container Living
.section-container-living {
    .h2 {
        font-size: 2.2rem;

        @include breakpoint-medium {
            font-size: 3rem;
        }
    }
}

//--- Section Cta
.section-cta {
    padding-bottom: 8em;

    .plan-content {
        padding-bottom: 5em;
    }
    
    .plan-mark {
        margin: 2em 0 3em 1em;

        @include breakpoint-medium {
            margin: 2em 0 0 1em;
        }
        
        @include breakpoint-large {
            margin: -2em 0 2em 1em;
        }
    }

    form {
        padding-top: 1em;

        .input-wrap {
            position: relative;
            
            @include  breakpoint-medium {
                width: 90%;
            }
        }

        .font-handwritten {
            display: none;

            @include breakpoint-custom(46) {
                display: block;
            }
        }

    }
}

//--- Section Donate
.section-donate {
    background: no-repeat $bg-gradient;
    min-height: 21.5em;
    padding-bottom: 3em;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 13em;
        height: 8em;
        background: center / contain no-repeat url('../img/x-tape.png');

        @include breakpoint-large {
            transform: translate(calc((-64em / 2) - 20%), -50%);
        }
    }

    .cell-content p{
        padding-top: 1em;
        color: $color-light;
    }
}

//--- Why Containers Hero
.section-with-mark {
    margin-top: 6em;

    h1 {
        font-size: $headline-size-1-mob;
        @include transition(all);
        text-align: center;

        @include breakpoint-medium {
            font-size: $headline-size-1;
            text-align: left;
        }
    }

    h2 {
        font-size: $headline-size-3-mob;
        text-align: center;

        @include breakpoint-medium {
            font-size: $headline-size-3;
            text-align: left;

        }
    }

    .plan-mark {
        margin: 2em;
    }
}

.section-standard {
    margin: 2em 0;

    h1 {
        font-size: $headline-size-1-mob;
        @include transition(all);
        text-align: center;

        @include breakpoint-medium {
            font-size: $headline-size-1;
            text-align: left;
        }
    }

    h2 {
        font-size: $headline-size-3-mob;
        text-align: center;
        margin-bottom: 2rem;

        @include breakpoint-medium {
            font-size: $headline-size-3;
            text-align: left;

        }
    }
}

//--- Section Stacked Plan
.section-stacked-plans {
    margin-top: 5em;
}

//--- Section Options
.section-options {

    h1 {
        font-size: $headline-size-2-mob;
        @include transition(all);
        text-align: center;

        @include breakpoint-medium {
            font-size: $headline-size-2;
            text-align: left;
        }
    }

    h2 {
        font-size: $headline-size-5-mob;
        text-align: center;

        @include breakpoint-medium {
            font-size: $headline-size-5;
            text-align: left;

        }
    }

    .coffee-stain {
        transform: translateX(50%);
        width: 30em;
    }

    .cell-diagram {
        margin: 3em 0 1em 0;

        @include breakpoint-large {
            margin: 5em 0 1em 0;
        }

        .diagram-img {
            max-width: 57.2em;
            margin: 0 auto;
        }
    }

    .diagram-exploded:not(:last-child) {
        margin-bottom: 1.5em;

        @include breakpoint-large {
            margin-bottom: 0;
        }
    }

    .diagram-exploded img {
        max-width: 60%;
        margin: 0 auto;

        @include breakpoint-medium {
            max-width: 70%;
        }  
        
        @include breakpoint-large {
            max-width: 80%;
        }  
    }
}

//--- Section About
.section-about {
    padding-top: 8em;

    @include breakpoint-large {
        padding-bottom: 6em;
        padding-top: 12em;
    }

    h2 {
        width: 6.6em;
    }

    .headline-dim {
        .headline-label {
            &::before {
                transform: translate(-130%, -7%);
            }
            
            &::after {
                transform: translate(130%, -7%);
            }
        }
    }

    .cell-content {
        margin-top: 4em;
    }

    .about-img {
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .about-content {
        margin-top: 2em;
    }
}

//--- Section Contact
.section-contact {
    padding: 3em 0 0 0;

    @include breakpoint-large {
        padding: 6em 0 0 0;

    }

    h1 {
        font-size: $headline-size-2-mob;
        @include transition(all);
        text-align: left;

        @include breakpoint-medium {
            font-size: $headline-size-2;
            text-align: left;
        }
    }

    h2 {
        font-size: $headline-size-5-mob;
        text-align: left;

        @include breakpoint-medium {
            font-size: $headline-size-5;
            text-align: left;

        }
    }

    .cell-content {
        margin-top: 1em;
    }

    .plan-mark {
        margin: 2em;
    }
}

//--- Section Mail Form
.section-mail-form {
    padding-top: 4em;
    padding-bottom: 6em;
    @include transition(all);

    @include breakpoint-medium {
        padding-bottom: 10em; 
    }

    form {
       margin-bottom: 2em; 
    }
}

//--- Gallery
.section-gallery {
    padding-top: 3em;
}
