.font-handwritten {
    font-family: $font-writing;
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    width: 30em;
    bottom: 0;
    right: 0;
    transform: translate(-2%,200%);
    @include transition(transform);

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 10em;
        height: 3em;
        background-image: url('../img/comment-arrow.svg');
        background-repeat: no-repeat;
        transform: translate(100%, -30%) rotate(-85deg);
        transform-origin: top left;
    }
}

.font-handwritten.left {
    left: 2em;
}