.headline-dim {

    h2 {
        position: relative;
        display: inline-block;
        padding: 0.4em 0 0 0;
        font-size: $headline-size-2-mob;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0.05rem;
            background-color: $color-dark;
        }

        @include breakpoint-medium {
            font-size: $headline-size-2;
        }
    }
    
    .headline-label {
        font-family: $font-writing;
        line-height: 1.2;
        background-color: $color-light;
        letter-spacing: initial;
        font-size: 0.55rem;
        text-transform: uppercase;
        color: $color-dark;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        text-align: center;
        z-index: 1;
        @include transition(all);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 7em;
            height: 3em;
            transform: translate(-150%, -7%);
            background: center / contain no-repeat url('../img/dimention-right.svg');
        }
        
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 7em;
            height: 3em;
            transform: translate(150%, -7%);
            background: center / contain no-repeat url('../img/dimention-right.svg');
        }

        @include breakpoint-custom(25.8){
            font-size: 0.6rem;
        }

        @include breakpoint-medium {
            font-size: 0.8rem;
        }
    }
}

.headline-dim-light {
    h2 {
        position: relative;
        display: inline-flex;
        padding: 0 0 0.4em 0;
        font-size: $headline-size-2-mob;
        color: $color-light-20;
        max-width: 6em;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateX(0);
            width: 15%;
            height: 0.05rem;
            background-color: $color-light-20;
        }
        
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 15%;
            transform: translateX(0);
            height: 0.05rem;
            background-color: $color-light-20;
        }

        @include breakpoint-medium {
            font-size: $headline-size-2;
        }
    }

    .headline-label {
        font-family: $font-writing;
        line-height: 1.2;
        letter-spacing: initial;
        font-size: 0.55rem;
        text-transform: uppercase;
        color: $color-light-20;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        width:100%;
        text-align: center;
        z-index: 1;
        @include transition(all);

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 7em;
            height: 3em;
            transform: translate(-45%, 4%);
            background: center / contain no-repeat url('../img/dimention-light.svg');
        }
        
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 7em;
            height: 3em;
            transform: translate(45%, 4%);
            background: center / contain no-repeat url('../img/dimention-light.svg');
        }

        @include breakpoint-custom(25.8){
            font-size: 0.6rem;
        }

        @include breakpoint-medium {
            font-size: 0.8rem;
        }
    }
}