.divider {
    position: relative;
    border-bottom: 1px $color-medium solid;
    box-shadow: $shadow-section;
    z-index: 2;
    min-height: 2em;
    margin-top: 3em;

    @include breakpoint-medium {
        margin-top: 4em;
    }
    
    @include breakpoint-large {
        margin-top: 6em;
    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 78%);
        width: 20em;
        height: 5em;
        background-image: url('../img/divider-fold.svg');
        background-repeat: no-repeat;
        background-size: contain;
        @include transition(all);

        @include breakpoint-large {
            transform: translate(-50%, 67%);
            width: 30em;
        }
    }
}

.container-divider {
    padding: 2em 1em;
    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 0.05rem;
        background-color: $color-medium;
    }

    .divider-wrap {
        background-color: $color-light;
        position: relative;
        margin: 0 auto;
        width: 5em;
        
        img {
            width: 2.26em;
            margin: 0 auto;   
        }
    }
}