.swiper-container {
    border-radius: 0.5em;

    .swiper-button-next, .swiper-button-prev {
        color: $color-light;

        &:focus {
            outline: none;
        }
    }

    .swiper-pagination-bullet {
        background-color: $color-light;
    }
}